@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    align-items: flex-end;
  
}
section{
    display: flex;
    justify-content: space-between;

    height: 10vh;
}
#logo{
    display: flex;
    gap: 10px;
    width: 20vw;
    align-items: center;
    justify-content: center;
}
#logo i{
    color: orangered;
    font-size: 24px;
}

#logo h1{
    color: orangered;
    font-size: 24px;
}
#menu{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;

}
.container a{
    color: black;
    font-weight: 400;
}
#botao1{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botao1 button{
    width: 13vw;
    background-color: orangered;
    color: white;
    height: 5vh;
    border: none;
    cursor: pointer;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
}
.container:hover{
    background-color: orangered;
}
.container a:hover {
    color: white;
    
}
#banner{
    display: flex;

}
#texts{
    position: absolute;
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
#texts h4{
    font-size: 24px;
    color: orangered;
    display: flex;
    justify-content: center;
}
#texts h1{
    font-size: 42px;
    color: white;
    display: flex;
    justify-content: center;
}
#botao{
    width: 45vw;
    height: 7vh;
    display: flex;  
    align-items: center; 
    
}
#botao button{
    height: 7vh;
    width: 14vw;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    

}
#botao input{
    border: none;
    height: 7vh;
    width: 31vw;
}
#botao input::placeholder{
    padding-left: 1vw;
}
#image{
    width: 100vw;
    height: 60vh;
}
#image img{
    width: 100vw;
    height: 70vh;
    filter: brightness(25%);
    opacity: 86%;
}